html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

header {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	letter-spacing: -0.08rem;
	font-size: 1.5rem;
	color: rgb(0, 0, 0);
}

.image-slider-container {
	width: fit-content;
	height: fit-content;
	/* border: 1px solid black; */
	background-color: white;
	display: flex;
	align-items: center;
	overflow: auto;
}

.image-slider {
	display: flex;
}

.image-slider img {
	height: 650px;
	/* border-radius: 0.5rem; */
}

.image-card {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	background-color: rgb(255, 255, 255);
}

.container {
	display: flex;
}

.next-button,
.back-button {
	cursor: pointer;
	padding: 2rem;
}
